.div1{
    height: 100%;
    width:99.7%;
    background-color: rgb(255, 228, 225);
    position:absolute;

}
.div2{
    height: 10%;
    width:30%;
    margin-left: 55%;
    margin-top: 7%;
    position: absolute;
}
.text{
    height:60%;
    width:35%;
    position :absolute;
    margin-left: 12%;
    margin-top: 10%;
    text-align: left;
  
}
h1{
    font-family:'Sora',sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}
p{
    font-size: 20px;
}
#a{
  height: 10%;
  width:40%;
  background-color:	#8B4513;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  border: 0;
}
#b{
    height: 10%;
  width:40%;
  background-color:white;
  font-size: 18px;
  margin-left: 12%;
  border-radius: 3px;
  border: 0;
}